# nerdtree
[[plugins]]
repo = 'scrooloose/nerdtree'
on_cmd = 'NERDTree'
hook_add = '''
  let g:NERDTreeShowHidden = 1
  nnoremap <silent> <leader>nt :NERDTree<CR>
'''

# syntaxes
[[plugins]]
repo = 'cespare/vim-toml'
on_ft = 'toml'

[[plugins]]
repo = 'vim-scripts/haskell.vim'
on_ft = 'haskell'

[[plugins]]
repo = 'othree/jsdoc-syntax.vim'
on_ft = 'javascript'

[[plugins]]
repo = 'Mizuchi/STL-Syntax'
on_ft = 'cpp'

[[plugins]]
repo = 'udalov/kotlin-vim'
on_ft = 'kotlin'

# git
[[plugins]]
repo = 'tpope/vim-fugitive'
if = 'executable("git")'
on_event = 'VimEnter'

# utils
[[plugins]]
repo = 'itchyny/lightline.vim'
on_event = 'VimEnter'
hook_add = 'let g:enabled_lightline = 1'

[[plugins]]
repo = 'tpope/vim-surround'
on_event = 'VimEnter'

[[plugins]]
repo = 'soramugi/auto-ctags.vim'
on_event = 'VimEnter'
hook_add = '''
  let g:auto_ctags_directory_list = ['.git']
  let g:auto_ctags_tags_args = '--tag-relative --recurse --sort=yes --extra=+f'
'''

[[plugins]]
repo = 'roman/golden-ratio'
on_event = 'VimEnter'

[[plugins]]
repo = 'junegunn/fzf.vim'
on_cmd = 'FZF'
if = 'executable("fzf")'
